// Define variables for your color scheme
$body-color: white;

// For example:
$red: #FD1015;
$blue: #3967B0;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;

$blue-hover: #254374;

$box-shadow: 0 0 0 1px $gray, inset 0 0 0 1px $gray; 
