.intro {
  display: grid;
  gap: 0 2ch;
  place-items: center;
  flex: 1 1 50%;

  width: 100%;
  max-width: 60ch;
  padding: 1ch;

  line-height: 1.4;
  box-shadow: $box-shadow;
  @media screen and (min-width: 420px) {
    width: 100%;
    max-width: initial;
    grid-row: 2 / 3;
  }
  &__img {
    max-width: 320px;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }
  &__title {
    color: $blue;
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__small {
    display: block;
    justify-self: start;
  }
  &__text {
    font-size: 1.2rem;
  }
  strong {
    color: $blue;
  }
}
