<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1619053648/EUROPE/cocktails_hg43il.jpg);">
  <div class="container">
    <h1>BAR DE L'EUROPE</h1>
    <p>SAN FIURENZU</p>

    <h5>Nous réouvrons bientôt ;-) </h5>
  </div>
</div>

<%= render 'shared/drinks_category' %>




