<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1619044372/EUROPE/banner_st_flo_ukypbc.jpg);">
  <div class="container">
    <h1>BAR DE L'EUROPE</h1>
    <p>SAN FIURENZU</p>

    <!-- <h5>Changer votre vie en buvant plus.</h5> -->
  </div>
</div>
