<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://res.cloudinary.com/numama/image/upload/v1619057712/EUROPE/misticapm_360x_sqambv.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">BIERRE RIBELLA</h5>
        <h6 class="card-title">MISTICA</h6>

        <p class="card-text">Authentique et mystérieuse. Une Stout à la châtaigne profonde et puissante, un nez riche, intense, une texture crémeuse dans une robe sombre et épaisse.</p>
        <p class="card-text"><small class="text-muted">5 médailles d'argent au Concours Général de Paris, coup de coeur du Guide Hachette des Bières</small></p>
        <p class="card-text text-right"><small class="text-muted"> 15 Euros</small></p>
        <p class="card-text text-right"><small class="text-muted"> + INFOS </small></p>

      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://res.cloudinary.com/numama/image/upload/v1619058111/EUROPE/coca_fba9vn.jpg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">SODAS ET AUTRES </h5>
        <p class="card-text"> Coca-cola  - fantas- orangina - sprite... oui, on en a </p>
        <h5 class="card-title">Honetement, nous ont vous conseilles nos jus de fruits </h5>
        <p class="card-text"> + de gouts / Produits locaux / - de calories  et autres </p>
        <p class="card-text"><small class="text-muted">5 Euros </small></p>
        <p class="card-text"><small class="text-muted">l'option verre d'eau est gratuite et bien meilheure pour la santé ;-)  </small></p>

      </div>
    </div>
  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619057467/EUROPE/muscatpinelli_rrm2iy.jpg" />
  <div class="card-product-infos p-2">
    <h2>MUSCAT PINELLI</h2>
    <p>Un vin liquoreux élaboré à partir du cépage traditionnellement cultivé en Corse.</p>
    <p class="text-muted text-right">+ INFOS</p>
    <p class="text-muted text-right">Verre 5Euro | Bouteille 25Euro</p>

  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619057712/EUROPE/misticapm_360x_sqambv.png" />
  <div class="card-product-infos p-2">
    <h2>RIBELLA MISTICA</h2>
    <p>Une Stout à la châtaigne profonde et puissante, un nez riche, intense, une texture crémeuse dans une robe sombre et épaisse.</p>
    <p class="text-muted text-right m-0">+ INFOS</p>
    <p class="text-muted text-right m-0">Bouteille 12Euro</p>

  </div>
</div>


