
  <div class="card-group text-uppercase justify-content-between">
        <div class="col-sm-3 m-1">
             <%= link_to drinks_path do %>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/numama/image/upload/v1619052167/EUROPE/Ribela_fjazsc.png)">
      Une P'tite Soif
            </div>
      <% end %>

        </div>

    <div class="col-sm-3 m-1">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/numama/image/upload/v1619051941/EUROPE/salade_m1bva7.jpg)">
      Une P'tite Faim
      </div>
    </div>
    <div class="col-sm-3 m-1">
      <div class="card-category text-uppercase" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/numama/image/upload/v1619052174/EUROPE/dessert_jj8nwn.png)">
      Une P'tite Douceur
      </div>
    </div>
  </div>

<!--
<div class="card-group text-uppercase">
  <div class="col-sm-4 m-2">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/numama/image/upload/v1619053369/EUROPE/pinelli_uoeek0.png)">
       Vins
      </div>
  </div>
  <div class="col-sm-4 m-2">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/numama/image/upload/v1619053551/EUROPE/ribella2_p9vofv.png)">
    Bierres
    </div>
  </div>
  <div class="col-sm-4 m-2">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/numama/image/upload/v1619053648/EUROPE/cocktails_hg43il.jpg)">
      Cocktails
    </div>
  </div>
</div>
 -->
