  <div class=" footer mt-5" >


         <div class="d-flex justify-content-around">

              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>

         </div>

          <p>
          BAR DE L'EUROPE

- VILLAGE, 20217 SAINT FLORENT - HAUTE CORSE INDEPENDANTE
          </p>

         <p><a href="mailto:contact@bardeleurope.com?subject=Garçon, s'il vous plaît . . .">

            Envoyez-nous un e-mail ça fait toujours plaisir ;-)
          </a></p>


     <div class="d-flex align-items-end" style="height: 100%">
        <div class=" mt-1 d-flex flex-column">
          <p class="mb-0 fw-lighter text-right">  <i class="far fa-copyright"></i>All Rights Reserved et surtout les poutatches C Bar de L'Europe 2021</p>
          <div class="my-1">
              <p class="fw-lighter text-right"> <small>    Stu situ hè fattu cù  <i class="fas fa-heart"></i> <a href="mailto:joa@birds.art.br?subject=DiscoSport"> da JoA <i class="fab fa-github text-muted"></i></a></small> </p>

          </div>
        </div>

     </div>
   </div>



