
<footer class="footer" >
  <div class="footer__headline">
    <a class="footer__img" href="/">
      <img src="http://res.cloudinary.com/numama/image/upload/c_scale,h_40/v1619043742/EUROPE/logo_europe_j2gxmi.jpg" />
    </a>
    <div class="footer__container" style="--direction: row;">
      <a href="#" class="footer__social"><i class="fab fa-instagram"></i></a>
      <a href="#" class="footer__social"><i class="fab fa-facebook"></i></a>
      <a href="#" class="footer__social"><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  
  <div class="footer__body">
    <small>Addresse</small>
    <address class="footer__address">BAR DE L'EUROPE - VILLAGE, 20217 SAINT FLORENT - HAUTE CORSE INDEPENDANTE</address>
    <p class="footer__email">
      Envoyez-nous un 
      <a href="mailto:comptoiredeleurope20217@gmail.com?subject=Garçon, s'il vous plaît ...">
        e-mail ça fait toujours plaisir
      </a>
    </p>
  </div>
  <hr/>
  <div class="footer__footnote">
    <p class="footer__copyright">
      &copy; Tous droits réservés et surtout les &copy; putachji   Bar de L'Europe 2021/22
    </p>
    <small class="footer__made-by" >
      Stu situ hè fattu cù <i class="fas fa-heart"></i>
      <a href="mailto:joa.azria@gmail.com?subject=BarEurope"> da JoA <i class="fab fa-github"></i></a>
    </small>
  </div>
</footer>


