<article class="intro">
  <img class="intro__img" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1619122708/EUROPE/baleine_jjmrjy.jpg" />

  <h4 class="intro__title">
    BIENVENUE AU BAR DE L'EUROPE
  </h4>

  <p class="intro__text">
  Nous sommes enchantés de vous accueillir à l’ombre des platanes de notre grande terrasse, où nous mettons notre savoir-faire et notre passion à votre service pour vous offrir le meilleur des produits de notre notre belle région.
  </p>
    <p class="intro__text">
 Bisous <i class="fas fa-hand-holding-heart"></i>  </p>
  <small class="intro__small">
    <strong>Tous nos produits sont issus de l'agriculture bio locale. </strong>
  </small>

  <div
    loading="lazy"
    data-mc-src="949a4406-c0fd-434b-a322-2095100eb1cc#instagram"></div>
            
    <script 
    src="https://cdn2.woxo.tech/a.js#62509b055fc7480021ec1868" 
    async data-usrc>
    </script>

</article>

