<div class="row bg-white">
    <div class="col-md-6">
    <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1619122708/EUROPE/baleine_jjmrjy.jpg" />

    </div>
    <div class="col-md-6">
      <h4 class="mt-4 text-danger">BIENVENU(E) AU BAR DE L'EUROPE </h4>
        <hr>

    <p class="text-justify">Nous sommes ravis de vous accueillir au sein de notre établissement <span class="text-primary font-weight-bold">Le BAR DE L'Europe </span> Nous mettons notre savoir faire á votre disposition pour vous offrir le meilheur des   <span class="text-primary font-weight-bold">Produits locaux de notre région</span>
    </p>
    <hr>
    <p class="mt-4 text-justify"> <span class="text-primary font-weight-bold">Tous nos produits sont issue de l'agriculture bio local </span>
    </p>
    <hr>

    </div>

  </div>
