<article class="intro">
  <img class="intro__img" alt="Responsive image" src="https://res.cloudinary.com/numama/image/upload/v1619122708/EUROPE/baleine_jjmrjy.jpg" />

  <h4 class="intro__title">
    BIENVENU(E) AU BAR DE L'EUROPE
  </h4>

  <p class="intro__text">
    Nous sommes ravis de vous accueillir au sein de notre établissement <strong>Le BAR DE L'Europe </strong> Nous mettons notre savoir faire á votre disposition pour vous offrir le meilheur des <strong>Produits locaux de notre région</strong>
  </p>
  <small class="intro__small">
    <strong>Tous nos produits sont issue de l'agriculture bio local </strong>
  </small>
</article>
