<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1619053551/EUROPE/ribella2_p9vofv.png);">
  <div class="container">
    <h1>RIBELLA</h1>
    <p>BIERE CORSE AUTONOME</p>

    <h5>La bière RIBELLA est issue à 100% de l’agriculture locale.
la RIBELLA est brassée, embouteillée et affinée à Patrimonio.
L’orge, les malts, les houblons endémiques et les arômes naturels utilés
sont directement issus du terroir corse et de l’agriculture biologique </h5>
  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619057712/EUROPE/misticapm_360x_sqambv.png" />
  <div class="card-product-infos p-2">
    <h2>RIBELLA MISTICA</h2>
    <p>Une Stout à la châtaigne profonde et puissante, un nez riche, intense, une texture crémeuse dans une robe sombre et épaisse.</p>
    <p class="text-muted text-right m-0">+ INFOS</p>
    <p class="text-muted text-right m-0">Bouteille 12Euro</p>

  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619119542/EUROPE/infernapm_360x_dyoji8.png" />
  <div class="card-product-infos p-2">
    <h2>RIBELLA INFERNA</h2>
    <p>Une bière noire de type Porter  piment de Cayenne, gingembre du Sri Lanka et Erba Tabaccu, tabac corse cultivé, séché puis fermenté sur nos terres.</p>
    <p class="text-muted text-right m-0">+ INFOS</p>
    <p class="text-muted text-right m-0">Bouteille 12Euro</p>

  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619119680/EUROPE/alchemai2PM_360x_uiwzsi.png" />
  <div class="card-product-infos p-2">
    <h2>RIBELLA ALCHEMIA</h2>
    <p>Fusion de la bière et du vin, la bière millésimée hybride Alchemia étonne et détonne !</p>
    <p class="text-muted text-right m-0">+ INFOS</p>
    <p class="text-muted text-right m-0">Bouteille 12Euro</p>

  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619119848/EUROPE/salecciaP_360x_e6sapz.png" />
  <div class="card-product-infos p-2">
    <h2>RIBELLA SALECCIA BEACH</h2>
    <p>Brassée avec l'eau de la mythique plage de Saleccia et des zestes de citrons verts de Tahiti, voici la mer mêlée au soleil.</p>
    <p class="text-muted text-right m-0">+ INFOS</p>
    <p class="text-muted text-right m-0">Bouteille 6Euro</p>

  </div>
</div>

<div class="card-product mt-2">
  <img src="https://res.cloudinary.com/numama/image/upload/v1619119847/EUROPE/immurtalepm_360x_yibgls.png" />
  <div class="card-product-infos p-2">
    <h2>RIBELLA IMMURTALE</h2>
    <p>Blonde de type Pils corsée, sèche et épicée qui ravira les connaisseurs comme les néophytes par sa dimension ultra solaire.</p>
    <p class="text-muted text-right m-0">+ INFOS</p>
    <p class="text-muted text-right m-0">Bouteille 12Euro</p>

  </div>
</div>
