<div class="container mt-5">
  <hr>
 <h5>Un nouveau coktail ou drink ? </h5>

 <%= link_to 'Créer une boisson', new_drink_path, class: 'btn btn-primary'  %>
 <hr>
 <h5>Envie de Cuisiner ? </h5>
 <%= link_to 'Créer une Plat', new_food_path, class: 'btn btn-primary'  %>
 <hr>
</div>

