<%= render 'shared/banner' %>

<hr>
<h1 class="text-primary text-center">OUVERTURE LE 12 MAI  </h1>
<hr>
<!--
<%#= render 'shared/intro' %>


<hr>

<%#= render 'shared/card_product' %>
 -->
<hr>

<%= render 'shared/category' %>
