<%= render 'shared/banner' %>

<hr>
<h5 class="text-primary text-center">OUVERTURE LE 12 MAI  </h5>
<hr>

<!--
<%#= render 'shared/intro' %>
<hr>

<%#= render 'shared/category' %>

<hr>

<%#= render 'shared/card_product' %>
 -->
