.card-category {
  background-size: cover;
  background-position: center;
  height: 100px;
  // width: clamp(120px, 100%, 180px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card {
    width: clamp(120px, 100%, 180px) !important;

}
.card-columns {
  display: grid;
  --card-width:  180px;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 2ch;
  place-items: center;

  @media screen and (max-width: 500px) {
    --card-width: 120px;
  }
}


