.card-product {
  min-height: 120px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1ch;
  
  color: $gray;
  &__img {
    height: 100px;
    width: 120px;
    object-fit: cover;
  }
  &__infos {
    display: grid;
    place-items: start;
    gap: 0.6ch;
  }
  &__title {
    color: $blue;
    font-size: 1.4rem;
    font-family: $body-font;
    font-weight: bold;
    margin: 0;
  }
  &__description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
  }
  &__price {
    font-size: 1.2rem;
    font-weight: bold;
    justify-self: end;
    margin-top: 1ch;
    margin-bottom: 0;
  }
}

