.footer {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1ch;

  height: max-content;
  margin-top: 0;
  padding: 1ch;
  
  box-shadow: $box-shadow;
  &__headline {
    display: grid;
    place-items: center start;
    gap: 0.5ch 1ch;
  }
  &__img {
    width: max-content;
    flex:1 0 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }
  &__social {
    font-size: 1.6rem;
  }
  &__body {
    display: grid;
    row-gap: 0.5ch;
    place-items: center start;
    & > * { margin: 0; }
  }
  &__footnote {
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
  }
  &__copyright {
    margin: 0;
  }
  small {
    font-weight: bold;
    color: $blue;
  }
  hr {
    flex-basis: 100%;
  }
}